.App {
  margin: 0 1em 3em 1em;
}

.pic {
  margin: 1em 0 1em 0;
}

h3, h4, .fab {
  color: #fff;
  font-weight: bold;
}

h1, h5 {
  color: #525251;
  font-weight: bold;
  font-style: italic;
}

a:link, a:visited {
  color: #fff;
}
